body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  background-color: #000000;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.Converter {
  padding: 2rem;
  max-width: 600px;
  margin: 2rem auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.Converter h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.CurrencyInput {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.CurrencyInput input {
  width: 100px;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.CurrencyInput select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.CurrencyInput div {
  text-align: center;
  margin: 1rem 0;
}